<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />

<div class="row1-container">
    <div class="box box-down cyan">
      <h2>Introduction</h2>
      <p>We are a social welfare company provide safety servies during accidents.</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Features</h2>
      <p>We provide feature of searching accidents data by using reasons of accients.</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Google Map</h2>
      <p>We provide the facilty of searching accidents area using Google Map.</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Safety Measurement</h2>
      <p>We also provide road safety ruls and information about traffic signs.</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>

  <!-- Second Part -->

  <div class="container" id="cont">
  <div class="card" id="card1">
    <div class="icon">
      <ion-icon name="globe-outline"></ion-icon>
    </div>
    <div class="content" id="content">
      <h2>Automated Vehicles for Safety</h2>
      <p>Learn more about the continuing evolution of automotive technology that aims to deliver even greater safety benefits.</p>
    </div>
  </div>
  <div class="card" id="card1">
    <div class="icon">
      <ion-icon name="diamond-outline"></ion-icon>
    </div>
    <div class="content" id="content">
      <h2>Vehicle Cybersecurity</h2>
      <p>During an age of constantly evolving technology, it’s more important than ever to ensure vehicles’ computing systems are protected against cyber threats.</p>
    </div>
  </div>
  <div class="card" id="card1">
    <div class="icon">
      <ion-icon name="rocket-outline"></ion-icon>
    </div>
    <div class="content" id="content">
      <h2>Vehicle Data Privacy</h2>
      <p>You’re protected from cyber threats, but is your consumer data safe? Read how NHTSA is working with Federal Trade Commission to protect your data.</p>
    </div>
  </div>
</div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
