@{
    Layout=null;
}

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Road_Safety.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/bootstrap-icons.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image: url(https://webassets.tomtom.com/m/427a73fc2ace244e/original/OG-Image-HD-Map-products_1200x630.jpg);
    background-position: center;
    background-size: cover;">
      <div class="overlay"></div>

      <div class="container">
        <div class="row">
        <center>
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title  home">
              <span class="heading-page">Welcome to World of</span>
              <span class="heading-page">Road Safety</span>
            </div>

            <div class="hexagon-menu clear">
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="About">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-universal-access"></i>
                    </span>
                    <span class="title">About</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="RoadSafety">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-bullseye"></i>
                    </span>
                    <span class="title">Road Safety</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="TrafficSigns">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="bi bi-pie-chart-fill"></i>
                    </span>
                    <span class="title">Traffic Rulls</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="Map">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa-solid fa-map-location-dot"></i>
                    </span>
                    <span class="title">Map</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="AccidentDetail">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa-solid fa-car-burst"></i>
                    </span>
                    <span class="title">Accident Data</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="Weather">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="bi bi-cloud-sun-fill"></i>
                    </span>
                    <span class="title">Weather</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
              <div class="hexagon-item">
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="hex-item">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <a class="hex-content" asp-controller="Home" asp-action="Contact">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-map-signs"></i>
                    </span>
                    <span class="title">Contact</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#99ddff"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          </center>
        </div>
      </div>
    </div>
  </div>
</main>