<link rel="stylesheet" href="~/css/RoadSafety.css" asp-append-version="true" />

<ul class="cards">
  <li>
    <a href="" class="card">
      <img src="https://bellamysorganic.com.au/wp-content/uploads/2016/02/shutterstock_116940727-1.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <div class="card__header-text">
            <h3 class="card__title">Child Safety</h3>
            <span class="card__status">3 hours ago</span>
          </div>
        </div>
        <p class="card__description">A safe car with the right car seat is a good start to keeping your child safe on the road, but there are many dangers in and around your vehicle to be aware of.</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://di-uploads-pod7.dealerinspire.com/verneidemitsubishi/uploads/2020/10/Vern-Eide-Mitsubishi-Teen-Driving-Safety-Program-Slider.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <div class="card__header-text">
            <h3 class="card__title">Teen Driving</h3>           
            <span class="card__status">1 hour ago</span>
          </div>
        </div>
        <p class="card__description">After spending years protecting your children from danger on and off the road, are you prepared to help them learn to drive?</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://www.wheelchair-experts.in/wp-content/uploads/2020/05/adapted-vehicle-tips-for-new-wheelchair-users.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <div class="card__header-text">
            <h3 class="card__title">Adapted Vehicle</h3>
            <span class="card__status">3 hours ago</span>
          </div>          
        </div>
        <p class="card__description">Discover cost-saving tips on modifying or purchasing a vehicle that meets the needs of people with disabilities.</p>
      </div>
    </a>
  </li>    
</ul>

<ul class="cards">
  <li>
    <a href="" class="card">
      <img src="https://delivery.contenthub.allstate.com/api/public/content/56376310f40a4d9f83ef5234b6f0d78a?v=72bbbc1f" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <div class="card__header-text">
            <h3 class="card__title">Vehicle Theft Prevent</h3>
            <span class="card__status">3 hours ago</span>
          </div>
        </div>
        <p class="card__description">Motor vehicles are the primary mode of transportation for most of us, and often an indispensable part of our lives. But what would happen if your vehicle suddenly disappeared?</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://health.sunnybrook.ca/wp-content/uploads/2020/07/motorcycle-safety.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <div class="card__header-text">
            <h3 class="card__title">Motor Cycle Safety</h3>           
            <span class="card__status">1 hour ago</span>
          </div>
        </div>
        <p class="card__description">It takes two for motorcyclists to ride safely. Learn how to anticipate and respond to motorcyclist behavior, and share the road.</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://www.bestforteens.com/wp-content/uploads/kids-cycling-safety.png" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <div class="card__header-text">
            <h3 class="card__title">Bicycle Safety</h3>
            <span class="card__status">3 hours ago</span>
          </div>          
        </div>
        <p class="card__description">The safety of all bicyclists and motorists rides on mutual respect. Learn about bicycle safety and how to reduce bicycle injuries and fatalities.</p>
      </div>
    </a>
  </li>    
</ul>

<ul class="cards">
  <li>
    <a href="" class="card">
      <img src="https://d193ppza2qrruo.cloudfront.net/production/images/large/large_Driving-aged-over-70.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <div class="card__header-text">
            <h3 class="card__title">Older Drivers</h3>
            <span class="card__status">3 hours ago</span>
          </div>
        </div>
        <p class="card__description"> Concerned about an older parent’s ability to drive safely? Learn to recognize and address changes in your older loved one’s driving.</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://media.istockphoto.com/id/1143981682/photo/children-next-to-a-car-walking-through-pedestrian-crossing-to-the-school.jpg?s=612x612&w=0&k=20&c=lDXFrGAhXDy_WJPOa4sQXcGm8snIOxSGvbnXM2NCEl8=" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <div class="card__header-text">
            <h3 class="card__title">Pedistration Safety</h3>           
            <span class="card__status">1 hour ago</span>
          </div>
        </div>
        <p class="card__description">NHTSA raises awareness of the dangers to pedestrians and provides tips to keep pedestrians safe.</p>
      </div>
    </a>
  </li>
  <li>
    <a href="" class="card">
      <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/d273dedf-e9c8-4d21-91d9-cba2b31f9f9a/shutterstock_388630477_800x480.jpg?MOD=AJPERES&CVID=" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <div class="card__header-text">
            <h3 class="card__title">School Bus Safety</h3>
            <span class="card__status">3 hours ago</span>
          </div>          
        </div>
        <p class="card__description">Your child’s greatest school risk is not riding a school bus—it’s getting on and off one. Teach your child about school bus safety.</p>
      </div>
    </a>
  </li>    
</ul>