<link rel="stylesheet" href="~/css/TrafficSigns.css" asp-append-version="true" />

<h1 id="head"> Categories of Traffic Signs in India </h1>

<body>
    <div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>01</h2>
        <h3>Mandatory Traffic Signs</h3>
        <p>As the title suggests, this set of road traffic signs are obligatory for drivers to follow. The purpose of mandatory traffic signboards is the smooth functioning of traffic on the road. In fact, violating any mandatory traffic signs is punishable by law.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>02</h2>
        <h3>Cautionary Traffic Signs</h3>
        <p>The goal of cautionary traffic signs is to warn drivers of any potential threat on the road ahead, like road work, potholes, and speed bumps. While these things are not inherent, accidents could occur if one doesn’t slow down their vehicle. Hence, you must take cautionary road traffic signs as seriously as the mandatory ones.</p>
        <a href="#">Read More</a> 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>03</h2>
        <h3>Informative Signs</h3>
        <p>Informative signs serve to aid any drivers without a map or knowledge of the facilities available in the area they are driving in. They can help guide drivers by offering directions or telling them about hospitals, public phones, and parking spots in the area.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</div>
</body>

