<div class="container">
    <div class="weather_container">
        <div class="temp">
            <p>20</p>
        </div>
        <div class="time_location">
            <p>Delhi</p>
            <p>12:58 - Monday 2023-02-26</p>
        </div>
        <div class="condition">
            <p></p>
            <p>Mist</p>
        </div>
    </div>
</div>
<nav>
    <form action="">
        <input type="text" placeholder="Search for location" class="search_area">
        <button type="submit">Search</button>
    </form>
</nav>

<script src="~/js/Weather.js" asp-append-version="true"></script>