/* First Part */

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    margin-top: 10rem;
    border-top: 3px solid var(--cyan);
    font-size: 1.3rem;
}
.red {
    border-top: 3px solid var(--red);
    font-size: 1.3rem;
}
.blue {
    border-top: 3px solid var(--blue);
    font-size: 1.3rem;
}
.orange {
    border-top: 3px solid var(--orange);
    font-size: 1.3rem;
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}

/* Second Part */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    min-height: 100vh;
}

#card1 {
    background: #287bff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 320px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
            inset 0 -15px 0 rgba(255, 255, 255, 0.24),
            0 45px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-top: -4rem;
     
}

#card1::before {
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    padding: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(206, 214, 57, 0.912));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

#card1:nth-child(1) {
    background: linear-gradient(to bottom, #57b7f3, #ecebfc);
}

#card1:nth-child(2) {
    background: linear-gradient(to bottom, #57b7f3, #ecebfc);
}

#card1:nth-child(3) {
    background: linear-gradient(to bottom,#57b7f3, #ecebfc);
}

#card1 .icon {
    position: relative;
    width: 140px;
    height: 120px;
    background: #3c2846;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 0 rgb(0 0 0 / 10%), inset 0 -8px 0 #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 18rem;
}

#card1 .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #3c2846;
}

#card1 .icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px #3c2846;
}

#card1 .icon ion-icon {
    color: #fff;
    position: relative;
    font-size: 6em;
    z-index: 1000;
    --ionicon-stroke-width: 24px;
}


#card1 #content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 68px;
    text-align: center;
}

#card1 #content h2 {
    font-size: 1.8em;
    color:black;
    margin-bottom: 15px;
}

#card1 #content p {
    color:black;
    line-height: 1.5em;
}


  